# Archivos generados por Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# Configuraciones de VS Code
.vscode/
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.ide/
.idea/

# Archivos Meta Data
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Archivos para la cache de construcción
/Builds/

# Package directories
/Packages/*/package.json

# Archivos específicos de macOS
.DS_Store

# Crash Reports
sysinfo.txt

# Windows thumbnail
Thumbs.db